<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Hello app</title>
        {% else %}
        <title>Welcome to my flask app</title>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/base.css') }}">
    </head>
    <body>
        <div class="container">
            <nav>
                <ul>
                  <li>
                    <a href="{{ url_for('main.index') }}">Home</a>
                  </li>
                  <li>
                    <a href="{{ url_for('main.about') }}">About</a>
                  </li>
                 
                  {% if current_user.is_anonymous %}
                  <li>
                    <a href="{{ url_for('auth.login') }}">Login</a>
                  </li>
                  {% else %}
                  <li>
                    <a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
                  </li>
                  <li>
                    <a href="{{ url_for('auth.logout') }}">Logout</a>
                  </li>
                  {% endif %}
                </ul>
            </nav>
        </div>
        <hr>
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </body>
</html>