{% extends "base.html" %}

{% block content %}
    {% if items %}
    <h1>Hi, 
        {% if current_user.username %}
            {{current_user.username}}
        {% else %}
            <code>non logged in user</code>
        {% endif %}
        {{ current_user.username }}!
    </h1>
        {% for item in items %}
        <div>
            <h2>{{ item.topic.title }}</h2>
            <p> <b>{{ item.body }}</b></p>
        </div>
        {% endfor %}
    {% else %}
    {{content}}
    {% endif %}

{% endblock %}